.box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
     border-radius: 20px;
    border-radius: 0px 20px;
    border-radius: 0px 20px 40px 5px; 
    border-radius: 0%;

}

.box:hover {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
    border-radius: 50%;

}